{{ $jquery := resources.Get "js/jquery.min.js" }}
{{ $jquerymigrate := resources.Get "js/jquerymigrate.js" }}
{{ $jsSlice := slice $jquery $jquerymigrate }}
{{ $js := $jsSlice | resources.Concat "js/bundle.js" | resources.Minify | resources.Fingerprint }}

<script async rel="preconnect" src="{{ $js.Permalink }}"></script>
<script rel="preconnect" src="{{ (resources.Get "js/production.min.js").Permalink }}?v={{ now.Unix }}"></script>

{{ if .Page.Params.useGallery}}
    <script async rel="preconnect" src="{{ (resources.Get "js/lightbox.min.js").Permalink }}"></script>
{{ end }}

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async rel="preconnect" src="https://www.googletagmanager.com/gtag/js?id={{ .Site.Params.gtag }}"></script>
<script>
window.dataLayer = window.dataLayer || [];function gtag(){dataLayer.push(arguments);}gtag('js', new Date());gtag('config', '{{ .Site.Params.gtag }}');
</script>